<ul>
  <li><b>2020-2023</b>: Stanford Interdisciplinary Graduate Fellowship</li>
  <ul>
    <li>1 of 33 graduate student awardees, University-wide, in cohort</li>
    <li>1 of 295 awardees since award inception in 2008</li>
  </ul>
  <li><b>2020</b>: J.P. Morgan AI Research Ph.D. Fellowship</li>
  <li><b>2019-</b>: Oak Ridge Institute for Science and Engineering (ORISE) Fellowships</li>
  <li><b>2018</b>: UnifyID Fellow (Declined)</li>
  <li><b>2017-</b>: Pear VC Fellow</li>
  <li><b>2013</b>: NSF Graduate Research Fellowship Program (GRFP) Honorable Mention</li>
  <li><b>2011, 2012</b>: Caltech Summer Undergraduate Research Fellowship (SURF)</li>
  <li><b>2009-2012</b>: IBM T.J. Watson Memorial Scholarship</li>
  <li><b>2011</b>: Caltech San Pietro Travel Prize</li>
  <li><b>2009-2010</b>: Columbia University I. I. Rabi Fellowship</li>
  <li><b>2009</b>: Intel International Science and Engineering Fair (ISEF): Third place</li>
</ul>
