<!-- Replace the email with your own formspree email -->
<form action="https://formspree.io/f/{{ site.new_formspring_endpoint }}" method="POST" >
    <div class="form-group">
      <label for="contact_form_name">(Optional) Your Name:</label>
      <input type="text" class="form-control" name="name" id="contact_form_name" placeholder="'Bill Gates'">
     </div>
     <div class="form-group">
       <label for="contact_form_email">(Optional) Your Email:</label>
      <input type="text" class="form-control" name="_replyto" id="contact_form_email" placeholder="'bill@microsoft.com'">
     </div>
     <div class="form-group">
       <label for="contact_form_message"> Your Feedback:</label>
      <textarea name="_message" class="form-control" id="contact_form_message" placeholder="Enter Your Message"></textarea>
     </div>
      <input type="submit" value="Send">
 </form>
