<article class="card" itemscope itemtype="http://schema.org/projectsPosting">
    <div class="post-card-header" id="post-card-header-{{page.post_id}}">
        <!-- <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1> -->
        <div class="post-categories" id="post-categories-{{page.post_id}}">
            <h4 class="post-meta" id="post-meta-{{page.post_id}}">{{ page.summary }}</h4>
            {% if post %}
              {% assign categories = post.categories %}
            {% else %}
              {% assign categories = page.categories %}
            {% endif %}
            Categories: {% for category in categories %}
              <a href="{{site.baseurl}}/projects/categories/{{category|slugize}}">{{category}}</a>
              {% unless forloop.last %}&nbsp;{% endunless %}
            {% endfor %}
        </div>
    </div>

    <div class="card-body" itemprop="articleBody">
        <br/> <br/>
        {{ content }}
    </div>

    <div id="disqus_thread"></div>

</article>
