---
layout: default
---

<div class="card">
    <h1 class="card-biography"> Formal Biography </h1>
     <p>
       Mo Tiwari is a fourth-year Ph.D. student in Computer Science at Stanford University, advised by
       <a href="http://robots.stanford.edu/index.html">Sebastian Thrun</a> (funding advisor)
       and <a href="https://stanford.edu/~cpiech/bio/index.html">Chris Piech</a>. His research interests include
       artificial intelligence, machine learning, statistics, and applications to healthcare. Prior to joining the Ph.D.
       program at Stanford, Mo worked for several years in industry; most recently, Mo
       was a software engineer and technical lead at Facebook for a cybersecurity product,
       <a href='https://developers.facebook.com/docs/threat-exchange' target="_blank">ThreatExchange</a>. Before Facebook, Mo joined Expanse as the fifth full-time employee,
       well before its $800MM acquisition by Palo Alto Networks, and spent a summer at DRW,
       where he developed valuation models for fixed income instruments. During his undergraduate
       studies in Mathematics and Physics at the California Institute of Technology, Mo also worked at the
       Compact Muon Solenoid (CMS) experiment at CERN, where the Higgs Boson was later discovered, and
       did theoretical research in quantum computation.

       Mo holds degrees from the California Institute of Technology (BS '13, Mathematics, Physics)
       and Stanford University (MS '19, Computer Science). At Stanford University, Mo is supported by a
       <a href="https://vpge.stanford.edu/fellowships-funding/sigf/details">Stanford Interdisciplinary Graduate Fellowship (SIGF)</a>,
       a <a href="https://www.jpmorgan.com/global/technology/ai/awards/phd-fellowship-award-recipients-2020">J.P. Morgan AI Research Ph.D. Fellowship</a>, and multiple
       <a href="https://orise.orau.gov/internships-fellowships/index.html">Oak Ridge Institute for Science and Education (ORISE) Fellowships</a>.
     </p>
 </div>
