---
layout: default
---

<div class="card">
  <h1 class="card-title"> FAQ </h1>
   <ul>

     <li>
       <h5> Can we fund you to work on research? </h5>
       <p>
         I'm afraid I currently do not have the bandwidth for additional projects.<br />
      </p>
     </li>

     <li>
       <h5> Are you available as a consultant? </h5>
       <p>
        Sadly, I do not have the bandwidth for additional work.<br />
      </p>
     </li>

     <li>
       <h5> Are you open to internship or fulltime opportunities? </h5>
       <p>
         Not right now.<br />
      </p>
     </li>

     <li>
       <h5> Will you take me as a student? </h5>
       <p>
         Though I initially supervised others while I was a Ph.D. student, I am no longer able to accept new mentees.<br />
      </p>
     </li>

     <li>
       <h5> Do you have advice on how to get into Stanford for a Ph.D. program? </h5>
       <p>
         I can't tell you much beyond what is already available online: namely,
         that research experience, publications, and letters of recommendation
         are usually the most heavily-weighted parts of an application.
         Unfortunately, I'm unable to provide personalized advice to individual
         inquirers.<br />
      </p>
     </li>
  </ul>
 </div>
