---
layout: default
---

<div class="card">
    <h1 class="card-title"> FAQ </h1>
     <ul>
       <li>
         <h5> Do you have advice on how to get into Stanford for a Ph.D. program? </h5>
         <p>
           I can't tell you much beyond what is already available online: namely,
           that research experience, publications, and letters of recommendation
           are usually the most heavily-weighted parts of an application.
           Unfortunately, I'm unable to provide personalized advice to individual
           inquirers.<br />
        </p>
       </li>
       <li>
         <h5> Are you open to fulltime opportunities? </h5>
         <p>
           Not if they would require me to leave my Ph.D. -- but if you would
           like to employee me as a researcher to work on something your team
           is interested in, please get in touch.<br />
        </p>
       </li>
       <li>
         <h5> Are you available as a consultant? </h5>
         <p>
           On a very, very limited basis; please note that as I have a wide
           range of experience -- both technical and managerial -- I charge a
           premium rate.<br />
        </p>
       </li>
    </ul>
 </div>
