---
layout: default
---

<div class="card">
  <h1 class="card-title"> FAQ </h1>
   <ul>

     <li>
       <h5> Can we fund you to work on research? </h5>
       <p>
         Yes! I am open to discussions about your research questions or
         reading Requests for Proposals (RfPs). <br />
      </p>
     </li>

     <li>
       <h5> Are you available as a consultant? </h5>
       <p>
         On a very, very limited basis; please note that as I have a wide
         range of experience -- both technical and managerial -- I charge a
         premium rate.<br />
      </p>
     </li>

     <li>
       <h5> Are you open to fulltime opportunities? </h5>
       <p>
         Not if they would require me to leave my Ph.D. -- but if you would
         like to employ me as a researcher to work on something your team
         is interested in, please get in touch.<br />
      </p>
     </li>

     <li>
       <h5> Are you open to internship opportunities? </h5>
       <p>
         I am open to select internship opportunities that are aligned with the goals
         of my Ph.D. In particular, I am open to technical internships in which I
         would learn new things, work with new collaborators at your institution, and publish.<br />
      </p>
     </li>

     <li>
       <h5> Will you take me as a student? </h5>
       <p>
         I have limited availability to supervise students.
         Please note that there is a formal interview process, including a
         coding interview and research question interview. If you are interested,
         please email me with your résumé and a coding sample (e.g. from your Github).
         Preference is given to students with prior publications, and with experience in deep learning and associated
         software packages such as pytorch.<br />
      </p>
     </li>

     <li>
       <h5> Do you have advice on how to get into Stanford for a Ph.D. program? </h5>
       <p>
         I can't tell you much beyond what is already available online: namely,
         that research experience, publications, and letters of recommendation
         are usually the most heavily-weighted parts of an application.
         Unfortunately, I'm unable to provide personalized advice to individual
         inquirers.<br />
      </p>
     </li>
  </ul>
 </div>
