---
layout: default
---

<div class="card">
  <h1 class="card-title"> Need help? </h1>
  <p>
    Hi! If I've sent you to this page, it's because <b><u>I consider you my friend and want to help you</u></b>.
    The goal of this page is to enable me to do so as efficiently as possible! <br /><br />

    I am lucky to have good friends, from whom I receive many requests for help.
    These requests typically includes help finding a job, recruiting people, introductions to my personal network, or other life advice.
    I am also fortunate to have many friends, so I get many such requests. <br /><br />

    Perhaps less fortunately, this means that I need to be efficient with such
    requests so that I can continue helping my friends effectively. If you're
    reading this, that means that <b><u>I want to help you in any way possible</u></b>, and I'd like to ask you to help me help you. <br /><br />

    As such, I have a request for you: <b><u>please make it as easy as possible for me to help you</u></b>.

    In particular, if I've pointed you to this webpage, <b><u>we do not need to meet</u></b>. Many friends,
    out of politeness, feel an obligation to spend time meeting with me, asking how I've been, catch up, etc. before asking for a favor.
    This page exists to tell you that meeting is not necessary; I already hold you in high regard! For the sake of efficiency, let me know exactly what you need
    and I'll be happy to help.

    <ul>
      <li><b>Need help finding a job?</b> Please send me your resume, a description of jobs/companies you're looking for, and write an email that I can copy-and-paste to my connections.</li>
      <li><b>Need help recruiting?</b> Please send me a job description, blurb about your company, etc. that I can copy-and-paste to the appropriate channels.</li>
      <li><b>Need an introduction to a specific person, or to my network generally?</b> Please tell me the type of people you're trying to meet or -- even better -- the exact people you want to meet (feel free to browse my LinkedIn connections), and write an email that I can copy-and-paste to them.</li>
      <li><b>Need a letter of recommendation?</b> Please provide me with a Google sheet of the programs you're applying to, their deadlines, your statement of purpose, and anything else I should know. Additionally, please provide a summary of your accomplishments during our work together. Make it as easy as possible for me to write you a strong letter.</li>
      <li><b>Need general life advice navigating a tough situation?</b> I'm happy to help! Be prepared to answer the following questions: what are the key parameters of the situations? What decisions need to be made, both urgently and non-urgently? What have you tried so far? These situations often <b><u>do</u></b> require a meeting.</li>
    </ul>
  </p>
  <p>

    I've had to write this post because, lately, I've found myself spending too much time in meetings and not enough time doing other things I need to do.
    If you still want to meet after reading this, <b><u>I would be happy to make time!</b></u> Just let me know, and we'll put something on the calendar.

  </p>
</div>
