---
layout: default
---

<div class="card">
  <h1 class="card-title"> Meet Mo! </h1>
  <p>
    Thanks for reaching out! If I've sent you to this page, it's so that we can schedule a time together!<br /><br />

    My preferences are for meetings that are <b><it>consolidated with my other meetings</b></it> (i.e. immediately before or after).<br /><br />

    I also have a preference for meeting <b>near my office building (Gates)</b> if we're meeting during business hours.<br /><br />

    To schedule a meeting with me, please send me an invite via
    <a href="https://doodle.com/mm/motiwari/meeting">motiwari.com/book</a> (preferred).
    Note that some people have trouble using Doodle on mobile, so if you're
    using a mobile device try <a href="https://calendly.com/motiwari">calendly.com/motiwari</a>.
    Please include the location to meet and/or your phone number/Skype/Google Hangout/email.
  </p>
</div>
