---
layout: default
---

<div class="card">
  <h1 class="card-title">Publications</h1>
    <ul>
      <li>
        <p><b>Bandit-PAM: Almost Linear Time k-medoids Clustering via Multi-Armed Bandits</b></br>
        <u>Mo Tiwari</u>, Martin Jinye Zhang, James Mayclin, Sebastian Thrun, Chris Piech, Ilan Shomorony</br>
        <a href="https://arxiv.org/abs/2006.06856">https://arxiv.org/abs/2006.06856</a>. Neural Information Processing Systems <b>(NeurIPS)</b> 2020.
      </li>
    </ul>

    <ul>
      <li>
        <p><b>Differentiation of Active Corneal Infections from Healed Scars Using Deep Learning</b></br>
        <u>Mo Tiwari</u>, Chris Piech, Namperumalsamy Prajna, Muthiah Srinivasan, Prajna Lalith, Natacha C Villegas, Travis K Redd, Thomas M Lietman, Sebastian Thrun, Charles C Lin</br>
        American Academy of Ophthalmology Conference <b>(AAO)</b> 2020 (virtual). <i>Poster Presentation.</i></br>
        <i>Full paper in submission.</i>
      </li>
    </ul>

    <ul>
      <li>
        <p><b>Estimating Global Patterns in Learning Quality Using Global Search Trends</b></br>
        Serhat Arslan, <u>Mo Tiwari</u>, Christopher Piech</br>
        ACM Learning @ Scale <b>(L@S)</b> 2020, in Atlanta, Georgia, USA.
      </li>
    </ul>

  <p> Additional technical reports for unpublished work are available upon request,
    especially for less recent work in quantum computation/physics and machine learning.
    <!-- Also check out my <a href="/projects/">projects</a> page.</p> -->
</div>

<div class="card">
 <h1 class="card-title">Invited Talks</h1>
    <ul>
     <li>
       <p><b>ThreatExchange v2.8 Webinar</b></br>
       A webinar for new features for the product I worked on at Facebook.
       Joint presentation with Julian Nagler and Amir Naor.</br>
       <a href="https://www.youtube.com/watch?v=SVVC4ZLYHmk">https://www.youtube.com/watch?v=SVVC4ZLYHmk</a></br>
       Facebook Headquarters in Menlo Park, CA, USA in December 2016.
     </li>
     <li>
       <p><b>Tracking Advanced Persistent Threats With ThreatExchange</b></br>
       Presented to 50+ security professionals; discussed and demonstrated tracking advanced persistent threats (APTs) using tools we built at Facebook.
       Joint presentation with April Eubank.</br>
       Due to the sensitive nature of the content, the talk was not recorded.</br>
       Microsoft Headquarters in Seattle, WA, USA in July 2016.
     </li>
    </ul>
</div>

<div class="card">
  <h1 class="card-title">Miscellaneous</h1>
    <p>
      I wrote some guest blog posts for <a href="https://quantumfrontiers.com/">Quantum Frontiers</a> while I was an undergrad. Check them out here:</br>
    </p>
    <p>
      &emsp;<a href="https://quantumfrontiers.com/2012/09/24/the-allure-of-elegance/"><b>The Allure of Elegance</b></a>. September 2012.</br>
      &emsp;<a href="https://quantumfrontiers.com/2013/12/16/more-brainteasers/"><b>More Brainteasers</b></a>. December 2013.</br>
      &emsp;<a href="https://quantumfrontiers.com/2013/12/25/building-a-computer-part-i/"><b>Building a Computer: Part I</b></a>. December 2013.</br>
    </p>
 </div>
