---
layout: default
---

<div class="card">
  <h1 class="card-title">Publications</h1>

    <ul>
      <li>
        <p><b style="font-size:115%">GFlowNet Foundations</b></br>
        Yoshua Bengio*, Salem Lahlou*, Tristan Deleu*, Edward J. Hu, Salem Lahlou, <u>Mo Tiwari</u>, Emmanuel Bengio</br>
          <a href="https://arxiv.org/abs/2111.09266">[Journal Paper]</a><i> Journal of Machine Learning Research (JMLR) 2023.</i>
      </li>
    </ul>

    <ul>
      <li>
        <p><b style="font-size:115%">MABSplit: Faster Forest Training Using Multi-Armed Bandits</b></br>
            <u>Mo Tiwari</u>, Ryan Kang*, Je-Yong Lee*, Chris Piech, Ilan Shomorony, Sebastian Thrun, Martin Jinye Zhang</br>
          <a href="https://proceedings.neurips.cc/paper_files/paper/2022/hash/08857467641ad82f635023d530605b4c-Abstract-Conference.html">[Conference Paper]</a><i>Neural Information Processing Systems (NeurIPS) 2022.</i>
      </li>
    </ul>

    <ul>
      <li>
        <p><b style="font-size:115%">Landscape Analysis of the Application of Artificial Intelligence aand Machine Learning in Regulatory Submissions for Drug Development from 2016 to 2021.</b></br>
            Qi Liu, Ruihao Huang, Julie Hsieh, Hao Zhu, <u>Mo Tiwari</u>, Guansheng Liu, Daphney Jean, M. Khair ElZarrad, Tala Fakhouri, Steven Berman, Billy Dunn, Matthew C. Diamond, Shiew-Mei Huang</br>
          <a href="https://arxiv.org/abs/2112.02721.">[arxiv]</a><i> In submission.</i>
      </li>
    </ul>

    <ul>
      <li>
        <p><b style="font-size:115%">BanditPAM: Almost Linear Time <i>k</i>-medoids Clustering via Multi-Armed Bandits</b></br>
        <u>Mo Tiwari</u>, Martin Jinye Zhang, James Mayclin, Sebastian Thrun, Chris Piech, Ilan Shomorony</br>
        <a href="https://proceedings.neurips.cc/paper/2020/hash/73b817090081cef1bca77232f4532c5d-Abstract.html">[Conference paper]</a> <a href="https://ai.stanford.edu/blog/banditpam/">[Blog post]</a> <a href="https://github.com/ThrunGroup/BanditPAM">[C++/Python/R Library]</a> Neural Information Processing Systems <b>(NeurIPS)</b> 2020.
      </li>
    </ul>

    <ul>
      <li>
        <p><b style="font-size:115%">Differentiation of Active Corneal Infections from Healed Scars Using Deep Learning</b></br>
        <u>Mo Tiwari</u>, Chris Piech, Namperumalsamy Prajna, Muthiah Srinivasan, Prajna Lalith, Natacha C. Villegas, Janice T. Chua, Travis K. Redd, Thomas M. Lietman, Sebastian Thrun, Charles C. Lin</br>
        <a href="https://www.aaojournal.org/article/S0161-6420(21)00564-9/fulltext">[Journal paper]</a> Ophthalmology 2020.</br>
        <i><b>Best Poster Award</b></i> at associated conference, American Academy of Ophthalmology Conference <b>(AAO)</b> 2020.</br>
      </li>
    </ul>

    <ul>
      <li>
        <p><b style="font-size:115%">Using Google Search Trends to Estimate Global Patterns in Learning</b></br>
        Serhat Arslan, <u>Mo Tiwari</u>, Chris Piech</br>
        <a href="https://dl.acm.org/doi/10.1145/3386527.3405913">[Conference paper]</a> ACM Learning @ Scale <b>(L@S)</b> 2020.
      </li>
    </ul>

  <p> Additional technical reports for unpublished work are available upon request,
    especially for less recent work in quantum computation/physics and machine learning.
</div>

<div class="card">
  <h1 class="card-title">Preprints</h1>

    <ul>
      <li>
        <p><b style="font-size:115%">NL-Augmenter: A Framework for Task-Sensitive Natural Language Augmentation</b></br>
            Kausthubh D. Dhole, ..., <u>Mo Tiwari</u>, ..., Yue Zhang (122 authors)</br>
          <a href="https://arxiv.org/abs/2112.02721.">[arxiv]</a><i> In submission.</i>
      </li>
    </ul>

    <ul>
      <li>
        <p><b style="font-size:115%">Beyond the Imitation Game: Quantifying and Extrapolating the Capabilities of Language Models</b></br>
            Aarohi Srivastava, ..., <u>Mo Tiwari</u>, ..., Ziyi Wu (444 authors, listed alphabetically)</br>
          <a href="https://github.com/google/BIG-bench/">[preprint]</a><i> In submission.</i>
      </li>
    </ul>

    <ul>
      <li>
        <p><b style="font-size:115%">Image Compression and Classification Using Qubits and Quantum Deep Learning</b></br>
        Ali Mohsen, <u>Mo Tiwari</u></br>
          <a href="https://arxiv.org/abs/2110.05476">[arxiv]</a><i> In submission.</i>
      </li>
    </ul>


</div>

<div class="card">
 <h1 class="card-title">Invited Talks</h1>
    <ul>
    <li>
    <p><b style="font-size:115%">Highlights of Algorithms (HALG21) Conference</b></br>
        "BanditPAM: Almost Linear Time <i>k</i>-Medoids Clustering via Multi-Armed Bandits."</br>
    A conference presentation of our NeurIPS 2020 paper, <a href="https://arxiv.org/abs/2006.06856">BanditPAM</a>.</br>
     <i>Virtual talk.</i>
  </li>
    <li>
      <p><b style="font-size:115%">U.S. Food and Drug Administration (FDA)</b></br>
      "BanditPAM: Almost Linear Time <i>k</i>-Medoids Clustering via Multi-Armed Bandits."</br>
      An FDA-wide talk I gave about our NeurIPS 2020 paper, <a href="https://arxiv.org/abs/2006.06856">BanditPAM</a>.</br>
      Part 2 of 2. <i>Virtual talk.</i>
    </li>
    <li>
      <p><b style="font-size:115%">U.S. Food and Drug Administration (FDA)</b></br>
      "An Introduction to Clustering and Multi-Armed Bandits"</br>
      An FDA-wide introductory talk I gave covering common clustering techniques and multi-armed bandits. </br>
      Part 1 of 2. <i>Virtual talk.</i>
    </li>
    <li>
      <p><b style="font-size:115%">Twitch</b></br>
        "Novel Data Augmentation, Multi-Armed Bandits, and more: New Machine Learning Techniques for Twitch Safety"</br>
      Presentation to the Safety organization at Twitch on how to use new data augmentation
      and multi-armed bandit methods for their uses cases.</br>
          <i>Virtual talk.</i>
    </li>
      <li>
    <p><b style="font-size:115%">C3.ai</b></br>
      "<i>k</i>-medoids Clustering and Multimodal Data Augmentation"</br>
    Given to the ML and product teams at C3.ai to discuss our ongoing research efforts and ways in which they might
      be applicable to C3.ai's use cases.</br>
  </li>
     <li>
       <p><b style="font-size:115%">Facebook</b></br>
         "ThreatExchange v2.8 Webinar"</br>
       A webinar for new features for the product I worked on at Facebook. Joint presentation with Julian Nagler and Amir Naor.</br>
       Facebook Headquarters in Menlo Park, CA, USA in December 2016.</br>
       <a href="https://www.youtube.com/watch?v=SVVC4ZLYHmk">https://www.youtube.com/watch?v=SVVC4ZLYHmk</a>
     </li>
     <li>
       <p><b style="font-size:115%">Microsoft Security Research Alliance</b></br>
         "Tracking Advanced Persistent Threats With ThreatExchange"</br>
       Presented to 50+ security professionals; discussed and demonstrated tracking advanced persistent threats (APTs) using tools we built at Facebook.
       Joint presentation with April Eubank.</br>
       Microsoft Headquarters in Seattle, WA, USA in July 2016.
     </li>
    </ul>
</div>

<div class="card">
 <h1 class="card-title">Open Source Contributions</h1>
    <ul>
    <li>
      <p><a href="https://github.com/motiwari/BanditPAM"><b style="font-size:115%">BanditPAM</b></a></br>
      A high-performance Python package, written in C++, that implements the algorithm from our NeurIPS 2020 paper and is
        pip-installable via "pip install banditpam". <b>Primary author, 240+ stars.</b>
    </li>
     <li>
       <p><a href="https://github.com/google/BIG-bench"><b style="font-size:115%">BIG-Bench</b></a></br>
       A set of benchmark tasks meant to probe the capabilities of large language models.
     </li>
      <li>
       <p><a href="https://github.com/GEM-benchmark/NL-Augmenter"><b style="font-size:115%">NL-Augmenter</b></a></br>
       A set of data augmentations and filters for natural language data.
     </li>
    </ul>
</div>

<div class="card">
 <h1 class="card-title">Teaching and Mentorship</h1>
    <ul>
    <li>
      <p><b style="font-size:115%">Course Assistant for Client-Side Technologies (CS193C)</b></br>
      Graded assignments, provided feedback, and answered questions for over 100 students each quarter during the summers
      of 2020 and 2021.
    </li>
      <li>
       <p><b style="font-size:115%">EDGE Mentor</b></br>
       Mentored three early Ph.D. students in Computer Science at Stanford University via a formal, funded position.
     </li>
      <li>
       <p><b style="font-size:115%">Ph.D. Student Mentor</b></br>
       Managed over a dozen undergraduate and M.S. students at Stanford University. Upward performance
        reviews available upon request.
     </li>
    </ul>
</div>

<div class="card">
  <h1 class="card-title">Miscellaneous</h1>
    <p>
      I wrote some guest blog posts for <a href="https://quantumfrontiers.com/">Quantum Frontiers</a> while I was an undergrad. Check them out here:</br>
    </p>
    <p>
      &emsp;<a href="https://quantumfrontiers.com/2012/09/24/the-allure-of-elegance/">The Allure of Elegance</a>. September 2012.</br>
      &emsp;<a href="https://quantumfrontiers.com/2013/12/16/more-brainteasers/">More Brainteasers</a>. December 2013.</br>
      &emsp;<a href="https://quantumfrontiers.com/2013/12/25/building-a-computer-part-i/">Building a Computer: Part I</a>. December 2013.</br>
    </p>
 </div>
